<h1>Tasks</h1>


<% @tasks.each do |task| %>

  <form>
    <input type ="checkbox" id="scales" name="scales"
    checked>
 <%= link_to task.title, task_path(task)%>

  <%= task.details %>
  <%= link_to 'Delete', delete_task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
</form>

<% end %>
<%= "______________________________________" %>

<%= link_to 'Add Task',  tasks_new_path %>

